<div>
  <% @students.each do |student| %>
    <div>
      <!--shows Multiple students on the index page and index page links to post page------liking to student name and leading it student it-->
      <div><%= link_to student.to_s, student_path(student) %></div>
      </div>
  <% end %>
</div>
